<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} TRACE_ID:[%X{TRACE_ID}] REMOTE:[%X{REMOTE}]  CONTROL:[%X{CONTROL}]  ACTION:[%X{ACTION}]  %highlight(%-5level) - %highlight(%msg) %n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{50}:%L) - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="console" />
    </root>
</configuration>
